asgiref==3.3.4
beautifulsoup4==4.10.0
certifi==2021.5.30
charset-normalizer==2.0.4
Clarify==0.4.0
click==8.0.1
colorama==0.4.4
cssselect==1.1.0
Django==3.2.3
Flask==2.0.1
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
lxml==4.6.3
MarkupSafe==2.0.1
mysqlclient==2.0.3
psutil==5.8.0
pygeoip==0.3.2
PyJWT==1.7.1
pyler==0.2.0
python-dateutil==2.8.2
pytz==2021.1
requests==2.26.0
requests-futures==1.0.0
simplejson==3.17.3
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.1
twilio==6.63.2
urllib3==1.26.6
Werkzeug==2.0.1
