
{% extends 'common/commonbase.html' %}
{% block content %}
	<section class="contact py-5">
		<div class="container py-md-4 mt-md-3" style="background-color: aquamarine;">
			<h2 class="heading-agileinfo">Login Now<span></span></h2>
			<span class="w3-line black"></span>
			<div class="inner-sec-w3layouts-agileinfo mt-md-5 pt-5">
				
				
				<div class="contact_grid_right mt-5">
                
					
					<form method="post">
                        <div class="contact_left_grid" style="padding-left: 200px;">
                           
							{% csrf_token %} 
                            <input type="email" name="email" placeholder="Email" required="">
                            <input type="password" name="password" placeholder="password" required="">
							<input type="submit" value="login Now">
							
							<div class="clearfix"> </div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	{% if msg %}
	<script>alert('{{msg}}');</script>
	{% endif %}
{% endblock %}