
{% extends 'admin/adminbase.html' %}
{% block content %}


<div class="bs-docs-example" style="background-color: aquamarine;">
    <h2 style="color: rgb(33, 92, 100);text-align: center;">Registered Service Hubs</h2>
    <table class="table">
        <thead>
            <tr>
                
                <th style="background-color :rgb(33, 92, 100);color: white;font-size: 20px;"> Name</th>
                <th style="background-color :rgb(33, 92, 100);color: white;font-size: 20px;">Email</th>
                <th style="background-color :rgb(33, 92, 100);color: white;font-size: 20px;">Address</th>
                <th style="background-color :rgb(33, 92, 100);color: white;font-size: 20px;">Phone No</th>
                <th style="background-color :rgb(33, 92, 100);color: white;font-size: 20px;">Company</th>
                <th style="background-color :rgb(33, 92, 100);color: white;font-size: 20px;">Product</th>
                <th style="background-color :rgb(33, 92, 100);color: white;font-size: 20px;">aid</th>
                <th style="background-color :rgb(33, 92, 100);color: white;font-size: 20px;">status</th>
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
                <td style="color:rgb(179, 7, 7);font-size: 15px;">
                    {{i.1}}
                </td>


                <td style="color:rgb(179, 7, 7);font-size: 15px;">
                    {{i.2}}
                </td>

                <td style="color:rgb(179, 7, 7);font-size: 15px;">
                    {{i.3}}
                </td>
                <td style="color:rgb(179, 7, 7);font-size: 15px;">
                    {{i.4}}
                </td>
                <td style="color:rgb(179, 7, 7);font-size: 15px;">
                    {{i.5}}
                </td>
                <td style="color:rgb(179, 7, 7);font-size: 15px;">
                    {{i.6}}
                </td>
                <td style="color:rgb(179, 7, 7);font-size: 15px;">
                    {{i.7}}
                </td>
                <td style="color:rgb(179, 7, 7);font-size: 15px;">
                    <a href="/approvesc/?id={{i.2}}&status=approved">Approve Now</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
<h2 style="color: rgb(33, 92, 100);text-align: center;">Approved Service Hubs</h2>
    <table class="table">
        <thead>
            <tr>
                
                <th style="background-color :rgb(33, 92, 100);color: white;font-size: 20px;"> Name</th>
                <th style="background-color :rgb(33, 92, 100);color: white;font-size: 20px;">Email</th>
                <th style="background-color :rgb(33, 92, 100);color: white;font-size: 20px;">Address</th>
                <th style="background-color :rgb(33, 92, 100);color: white;font-size: 20px;">Phone No</th>
                <th style="background-color :rgb(33, 92, 100);color: white;font-size: 20px;">Company</th>
                <th style="background-color :rgb(33, 92, 100);color: white;font-size: 20px;">Product</th>
                <th style="background-color :rgb(33, 92, 100);color: white;font-size: 20px;">aid</th>
                <th style="background-color :rgb(33, 92, 100);color: white;font-size: 20px;">status</th>
            </tr>
        </thead>
        <tbody>
            {% for i in data1 %}
            <tr>
                <td style="color:rgb(179, 7, 7);font-size: 15px;">
                    {{i.1}}
                </td>


                <td style="color:rgb(179, 7, 7);font-size: 15px;">
                    {{i.2}}
                </td>

                <td style="color:rgb(179, 7, 7);font-size: 15px;">
                    {{i.3}}
                </td>
                <td style="color:rgb(179, 7, 7);font-size: 15px;">
                    {{i.4}}
                </td>
                <td style="color:rgb(179, 7, 7);font-size: 15px;">
                    {{i.5}}
                </td>
                <td style="color:rgb(179, 7, 7);font-size: 15px;">
                    {{i.6}}
                </td>
                <td style="color:rgb(179, 7, 7);font-size: 15px;">
                    {{i.7}}
                </td>
                <td style="color:rgb(179, 7, 7);font-size: 15px;">
                    <a href="/approvesc/?id={{i.2}}&status=deleted">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>





{% endblock %}