
{% extends 'user/userbase.html' %}
{% block content %}
	<!--/contact-->
	<section class="contact py-5">
		<div class="container py-md-4 mt-md-3" style="background-color: aquamarine;">
			<h2 class="heading-agileinfo">Ask Your Question<span></span></h2>
			<span class="w3-line black"></span>
			<div class="inner-sec-w3layouts-agileinfo mt-md-5 pt-5">
				
				
				<div class="contact_grid_right mt-5">
                
					
					<form method="post">
						
						{% csrf_token %} 
                        <div class="contact_left_grid" style="padding-left: 200px;">

							<textarea name="question" required="" placeholder="what's your question"></textarea>
						
                           
                            
							<input type="submit" value="Register Now">
							
							<div class="clearfix"> </div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!--//contact-->
	{% if msg %}
	<script>alert('{{msg}}');</script>
	{% endif %}

	{% endblock %}