
{% extends 'user/userbase.html' %}
{% block content %}


<div class="bs-docs-example">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                
                <th style="background-color :rgb(33, 92, 100);color: white;font-size: 20px;">Question</th>
                <th style="background-color :rgb(33, 92, 100);color: white;font-size: 20px;">Answer</th>
            
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
               
                <td>
                    {{i.3}}
                </td>
                <td>
                    {{i.4}}
                </td>
               
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>





{% endblock %}